@charset "UTF-8";
/*  ===================================
    GLOBAL
    =================================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.container{
  margin-top: 20px;
}
html{
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 100%;
  color: #222;
  width: 100%;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: auto !important;
  text-align: center;
  background-color: rgba(253, 255, 250, 1);
}
ol, ul {
  list-style: none;
}
table, tr, td {
  border-spacing: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
}

h3 {
  font-weight: bold;
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/*  =========================================
    HELPER CLASSES
    ========================================= */
.caption {
  font-style: italic;
}
.visible {
  display: block !important;
}
.invisible {
  display: none !important;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*  ===================================
    HEADER
    =================================== */
header {
	margin-bottom:30px;
  padding-bottom:15px;
}
header img#swell_logo {
  width: 60px;
  margin-top: 30px;
  display: block;
}
#title-header {
  text-align: left;
}
/*  ===================================
    BODY
    =================================== */
.accolades {
  padding: 10px 0px 25px 0px;
}
.arrowBox h4{
  text-align: left;
  padding-left: 10px;
  color: #FF7989;
  font-size: 1.5em;
}
.arrowBox {
  position: relative;
  background: #fff;
  border: 2px solid #FF7989;
  padding: 15px 15px ;
}
.arrowBox:after, .arrowBox:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrowBox:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.arrowBox:before {
  border-color: rgba(255, 121, 137, 0);
  border-right-color: #FF7989;
  border-width: 13px;
  margin-top: -13px;
}
.assistant{
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 5px auto 50px auto;
}
.assistant img{
  margin: 10px 0px;
}
.assistant h2{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.5px;
  color: rgba(53, 180, 151, 1);
  font-size:1.25em;
  font-weight:700;
}
.assistant h3{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.25px;
  font-size:0.85em;
  font-weight:bold;
}
.assistant p{
  letter-spacing: 1.25px;
  font-size:0.85em;
}
.assistant li{
  color: rgba(73, 144, 224, 1);
  font-size:0.85em;
  font-weight: 500;
  line-height: 2.5em;
}
.assistant li img{
  margin-right: 10px; 
}
.infoBox {
  text-align: left;
  padding: 0px10px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
  -moz-box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
  box-shadow: 0px 0px 2px 2px rgba(207,207,207,0.4);
}
.infoBox h3{
  color: rgba(53, 180, 151, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  margin-left: 15px;
}
.infoBox h4{
  font-weight: 700;
  margin-left: 15px;
}
.infoBox h4 a{
  color: rgba(35,107,170,1);
}
.infoBox h5{
  font-family: 'Raleway', sans-serif;
  color: rgba(126, 211, 33, 1);
  font-weight: 500;
  margin-left: 15px;
  font-size: 1.1em;
}
.infoBox li{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.75;
  background-repeat: no-repeat;
  background-position: 0px center;
}
.infoBox iframe{
  display: block;
}
.infoBox p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.75;
  padding-bottom: 10px;
}
.infoBox ul{
  list-style-type: circle;
  margin-left: 15px; 
}
.linky{
  color:rgba(35, 107, 170, 1);
}
#sidebar {
  padding: 0px 15px; 
}
.panel-heading{
  background-color: rgba(255, 255, 255, 1);
}
#query {
  text-align: center;
  margin-bottom: 0px;
}
.recoBox {
  text-align: left;
  padding: 0px 10px;
  background-color: rgba(239, 246, 255, 1);
}
.recoBox > .panel-heading{
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border-bottom: 0px;
}
.recoBox > .arrowBox{
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
  text-align: left;
  padding-left: 10px;
  color: #FF7989;
  font-size: 1.5em;
  line-height: 1.2em;
}
.recoBox img{
  display: block;
  margin: 0px auto;
  max-width: 312px;
}
.recoLabel button{
  float: right;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 15px;
}
.ribbon p{
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0px;
  color: rgba(244, 156, 6, 1); 
}
.takeaway{
  margin-bottom: 15px;
}

/*  ===================================
    CAROUSEL
    =================================== */
#owl-container .owl-carousel{
  margin: 3px;
}
#owl-container img{
  display: inline-block;
  max-height: 250px;
}
#owl-container a{
  color:black;
}

/*  ===================================
    FOOTER
    =================================== */
.footerContainer{
  background: #79E3C8;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 15px;
}
.footerContainer li{
  display: list-item;
  margin: 0px 0px;
}
.footerContainer button{
  margin: 20px 0px;
  font-size: 1.2em;
}
/*  ===================================
    SIDEBAR
    =================================== */

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}
#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}

@media (max-width: 480px) {
  #sidebar.affix-top {
    position: static;
    margin-top:20px;
    width:228px;
  }
  #sidebar.affix {
    position: initial;
    top:50px;
    width:228px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .assistant{
  text-align: left;
  }
  .footerContainer li{
  display: inline;
  margin: 100px 25px; 
  }
  #query {
  text-align: left;
  margin-bottom: 0px;
  }
} 

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* make the ribbon into carousel*/
  .assistant{
  text-align: left;
  margin: 0px 100px 0px 0px;
  }
  .footerContainer li{
  display: inline;
  margin: 100px 25px; 
  }
  #query {
  text-align: left;
  margin-bottom: 0px;
}
}



